{% import '_includes/forms' as forms %}

<h2>Voting Settings</h2>

{{ forms.checkbox({
	label: "<strong>Require login to vote</strong>"|t,
	id: 'requireLogin',
	name: 'requireLogin',
	checked: settings.requireLogin,
	errors: settings.getErrors('requireLogin')
}) }}
<p>To prevent any chance of voting fraud, it's <strong>highly recommended</strong> that your users be logged in to vote. However, sometimes it's necessary to allow anonymous voting.</p>

{{ forms.checkbox({
	label: "<strong>Allow downvoting</strong>"|t,
	id: 'allowDownvoting',
	name: 'allowDownvoting',
	checked: settings.allowDownvoting,
	errors: settings.getErrors('allowDownvoting')
}) }}
<p>Sometimes it doesn't make sense to give users the option to downvote something. In those cases, downvoting can be disabled.</p>

{{ forms.checkbox({
	label: "<strong>Allow vote removal</strong>"|t,
	id: 'allowVoteRemoval',
	name: 'allowVoteRemoval',
	checked: settings.allowVoteRemoval,
	errors: settings.getErrors('allowVoteRemoval')
}) }}
<p>Occasionally users will change their mind after voting. This option allows them to "take back" their vote.</p>

<hr/>

<h2>Complete Vote Log</h2>

{{ forms.checkbox({
	label: "<strong>Keep a detailed record of all votes</strong>"|t,
	id: 'keepVoteLog',
	name: 'keepVoteLog',
	checked: settings.keepVoteLog,
	errors: settings.getErrors('keepVoteLog')
}) }}
<p>Generally unnecessary... The detailed log is not used to calculate the tally for each element.</p>
<ul>
	<li><strong>PRO:</strong> You have a detailed log of every vote cast, which can then be accessed by another plugin via the <code>Upvote_VoteLogRecord</code> class.</li>
	<li><strong>CON:</strong> Any time Craft needs to create a backup database, it could take a very long time (depending on how big the votes table gets).</li>
</ul>